<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1>Favorite items</h1>

<div id="favorite_items">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Stock</th>
      <th scope="col">Description</th>
      <th scope="col">Shop Name</th>
      <% if current_user.present? %>
        <th scope="col">Add to Favorites</th>
      <% end %>
      <th scope="col">Show</th>
    </tr>
    </thead>
    <tbody>
    <% @favorite_items.each do |fav_item| %>
      <tr>
        <%= render fav_item %>

        <td><%= link_to 'Show', Item.where(id: fav_item.item_id).first %></td></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
