<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1>Shops</h1>
<div class="card-group">
      <% @shops.each do |shop| %>
        <%= render shop %>
      <% end %>
</div>

