<%= form_with(model: favorite_shop) do |form| %>
  <% if favorite_shop.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(favorite_shop.errors.count, "error") %> prohibited this favorite_shop from being saved:</h2>

      <ul>
        <% favorite_shop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
