<h1>Editing favorite shop</h1>

<%= render "form", favorite_shop: @favorite_shop %>

<br>

<div>
  <%= link_to "Show this favorite shop", @favorite_shop %> |
  <%= link_to "Back to favorite shops", favorite_shops_path %>
</div>
