<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1 class="text-center" >Favorite shops</h1>


<div id="favorite_shops">

    <% @favorite_shops.each do |fav_shop| %>

        <%= render fav_shop %>

        <%= link_to 'Show', Shop.where(id: fav_shop.shop_id).first %>

    <% end %>
</div>
