<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>
<h1>New favorite shop</h1>

<%= render "form", favorite_shop: @favorite_shop %>

<br>

<div>
  <%= link_to "Back to favorite shops", favorite_shops_path %>
</div>
