<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1 class="text-center">New item</h1>


<%= render "form", item: @item %>

<br>

<div>
  <%= link_to "Back to items", items_path %>
</div>
