<div class="d-flex flex-column min-vh-100">
  <!-- Footer -->
  <footer
    class="text-center text-lg-start text-dark mt-auto"
    style="background-color: #ECEFF1"
  >
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Pickles</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
            <p>
              Pickles Official Website
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Items</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
            <p>
              <a href="#!" class="text-dark">Add Item</a>
            </p>
            <p>
              <a href="#!" class="text-dark">See Items</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Shops</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
            <p>
              <a href="#!" class="text-dark">Create Shop</a>
            </p>
            <p>
              <a href="#!" class="text-dark">See Shops</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
              />
            <p><i class="fas fa-home mr-3"></i> Istanbul, Turkey </p>
            <p><i class="fas fa-envelope mr-3"></i> info@pickles.com</p>
            <p><i class="fas fa-phone mr-3"></i> +90 216 216 5151</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
      class="text-center p-3"
      style="background-color: rgba(0, 0, 0, 0.2)"
    >
      © 2022 Copyright:
      <h5 class="text-dark">pickles.com</h5
      >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>